<div class="col-xs-12 base text">
  <h1>GAMEfeelingとは？</h1>

  <div class="col-xs-5 about-strong">
    <h1>あなただけのゲーム体験をみんなと共有しよう!</h1>
  </div>

  <div class="col-xs-offset-1 col-xs-6">
    <div id="container-about">
      <div id="theTarget">
        <div class="about1"></div>
        <div class="about2"></div>
        <div class="about3"></div>
        <div class="about4"></div>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <h2>できること</h2>
  </div>

  <div class="col-xs-6 field">
    <span class="glyphicon glyphicon-edit" aria-hidden="true" style="font-size: 120px"></span>
    <h3>投稿機能</h3>
    <p>ゲームの感想を投稿する事ができます。</p>
  </div>

  <div class="col-xs-6 field">
    <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="font-size: 120px"></span>
    <h3>閲覧機能</h3>
    <p>投稿されているゲームの感想を閲覧する事ができます。</p>
  </div>

  <div class="col-xs-6 field">
    <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 120px"></span>
    <h3>フォロー、フォロワー機能</h3>
    <p>気になったユーザーや友人等をフォローする事ができます。</p>
  </div>

  <div class="col-xs-6 field">
    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size: 120px"></span>
    <h3>いいね機能</h3>
    <p>気に入った投稿があったらいいねする事ができます。</p>
  </div>

</div>