<div class="col-xs-offset-2 col-xs-8">
  <div class="">
    <h1>GAMEfeeling</h1>
  </div>
  <div class="">
    <p>ようこそGAMEfeelingへ！<br>
    あなただけのゲーム体験を発信してみんなで共有してみませんか?</p>
  </div>
  <div>
    <h1>スライドショー部分</h1>
  </div>
  <%= link_to 'about',homes_about_path, class: "btn btn-default about" %>
  <%= link_to '投稿一覧へ',games_path, class: "btn btn-default games" %>
</div>