<div class="col-xs-offset-2 col-xs-8 text show-padding">
  <h1>GAMEfeeling</h1>
</div>
<div class="col-xs-offset-2 col-xs-8 base top-padding">
  <div class="text">
    <p>ようこそGAMEfeelingへ！<br>
    あなただけのゲーム体験を発信してみんなで共有しませんか?</p>
  </div>
  <div id="container">
    <div id="theTarget">
      <div class="top1"></div>
      <div class="top2"></div>
      <div class="top3"></div>
      <div class="top4"></div>
    </div>
  </div>
  <h1 class="about">
    <%= link_to 'aboutページへ',homes_about_path, class: "about" %>
  </h1>
</div>