  <div class="col-xs-offset-2 col-xs-8 text">
    <h1>GAMEfeeling</h1>
  </div>
<div class="col-xs-offset-2 col-xs-8 base">
  <div class="text">
    <p>ようこそGAMEfeelingへ！<br>
    あなただけのゲーム体験を発信してみんなで共有してみませんか?</p>
  </div>
  <div id="container">
        <div id="theTarget">
            <div class="top1"></div>
            <div class="top2"></div>
            <div class="top3"></div>
            <div class="top4"></div>
        </div>
  </div>
  <%= link_to 'about',homes_about_path, class: "btn btn-default about" %>
  <%= link_to '投稿一覧へ',games_path, class: "btn btn-default games" %>
</div>