/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../app/assets/stylesheets/.
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";

html{
  height:100%;
}

body {
  background-color: #B8E6B4;
  height:100%;
}

.head {
  background-color: #FFFFFE;
}

.navbar-left {
  margin-right:30px;
  padding-top:20px;
}

.search {
  padding-top: 30px;
}

.base {
  background-color: #f0f8ff;
  padding:15px;
  border-radius:10px;
  margin-bottom:20px;
}

footer {
  margin-top: auto;
  background-color: #FFFFFE;
  height: 100px;
  bottom:0;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back img {
  width: 50px;
}

#container {
  height: 500px;
 }

#container-about {
  height: 300px;
  width: 400px;
}

.top-padding{
  padding-bottom:60px;
  margin-bottom:40px;
}

.top1 {
  background-image: image-url("gaming.jpg");
}

.top2 {
  background-image: image-url("famicon.jpg");
}

.top3 {
  background-image: image-url("n-s.jpg");
}

.top4 {
  background-image: image-url("fortnite.jpg");
}

.about {
  font-family: 50px;
  color:black;
}

.about1 {
  background-image: image-url("game1.jpg");
}

.about2 {
  background-image: image-url("game2.jpg");
}

.about3 {
  background-image: image-url("game3.jpg");
}

.about4 {
  background-image: image-url("game4.jpg");
}

.text {
  text-align: center;
}

.text-top {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  font-style: oblique;
}

.slideimag {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.field {
  height: 200px;
}

.about-strong {
  padding-top:100px;
  text-align: center;
}

.form-margin {
  margin:10px 0px 20px;
}

.leave-padding{
  padding:100px 0px;
}

.index-padding {
  padding-bottom:150px;
  margin-bottom:40px;
}

.index-user-padding {
  padding-bottom:150px;
  margin:80px 0px;
}

/*投稿画像の拡大処理*/
.imgWrap {
  overflow: hidden;/*拡大時にはみ出た部分を隠す*/
}

.imgWrap img {
  display: block;
  transition-duration: 0.3s;  /*変化に掛かる時間*/
}
.imgWrap img:hover {
  transform: scale(1.1);  /*画像の拡大率*/
  transition-duration: 0.3s;  /*変化に掛かる時間*/
}

.new-padding, .edit-padding {
  padding:70px 0px;
}

.show-padding{
  padding-bottom:40px;
}

.show-edit {
  padding-top:250px;
}

.introduction {
  margin-top:80px;
}

.f-f {
  padding-bottom:450px;
}